# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-identity
# azure-identity-broker
azure-core
azure-functions
azure-ai-inference
azure-storage-blob
langchain-azure-dynamic-sessions
openai

asyncio
aiohttp
aiofiles
pandas
pymongo
ddgs
w3lib
readability-lxml
httpx
beautifulsoup4
trafilatura
